.master-div {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.accordion-container {
  width: 500px;
  height: 100%;
}

#A {
  background: lightgray;
  margin-bottom: 5px;
  padding: 10px 20px;
}

.nutrition-div {
  color: darkred;
  border: 2px solid black;
}

.pizza-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgb(203, 154, 56);
  color: rgb(75, 95, 39);
  height: 50px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  cursor: url('/pizza-pointer.png'), auto;
  box-shadow: 3px 3px 3px;
}

.pizza-title-text {
  margin-left: 5px;
}

#page-header, #nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

#nav-links {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
  font-size: larger;
}

#bake-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
}

.form-input {
  display: flex;
  flex-direction: row;
  font-size: large;
  height: 50px;
}

#submit-button {
  height: 40px;
  font-size: large;
}

#welcome-div {
display: flex;
flex-direction: column;
font-size:xx-large;
align-items: center;
justify-content: center;
}

